<% provide :title, t("static_pages.home.title") %>
<h1> <%= t("static_pages.home.title") %></h1>
<p>
  <%= t("static_pages.home.content") %>
  <%= link_to t("static_pages.home.tutorial"), "http://www.railstutorial.org/" %><%= t("static_pages.home.tutorial_second") %>
</p>
